name: weblate_sdk
description: Unofficial WebLate SDK. Designed to work with WebLate web-based continuous localization system.
version: 0.2.0
homepage: https://github.com/OnixFlutterTeam/weblatesdk

environment:
  sdk: '>=3.0.0 <4.0.0'

dependencies:
  flutter:
    sdk: flutter
  flutter_web_plugins:
    sdk: flutter
  plugin_platform_interface: ^2.1.6
  json_serializable: ^6.8.0
  json_annotation: ^4.9.0
  shared_preferences: ^2.3.2
  dio: ^5.7.0

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^4.0.0
  build_runner: ^2.4.11

# For information on the generic Dart part of this file, see the
# following page: https://dart.dev/tools/pub/pubspec

# The following section is specific to Flutter packages.
flutter:

  plugin:
    platforms:
      android:
        package: com.weblate.sdk.weblate_sdk
        pluginClass: WeblateSdkPlugin
      ios:
        pluginClass: WeblateSdkPlugin
      linux:
        pluginClass: WeblateSdkPlugin
      macos:
        pluginClass: WeblateSdkPlugin
      windows:
        pluginClass: WeblateSdkPluginCApi
      web:
        pluginClass: WebLateWebPlugin
        fileName: weblate_web_plugin.dart


